*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
}
body{
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 3rem;
}
.box{
 height: 300px;
 width: 500px;
    background-color: black;
    /* box-shadow: x  y spread radius color */
    /* box-shadow: -30px -50px 50px white; */
     box-shadow:inset 0px 0px 10px white;   /*inset ander ki tarah use hoga*/
}
h1{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 3rem;
    text-align: center;
    padding-top:6rem ;
    color:white;
    text-shadow: 5px 0px 10px red;
}


#box2{
     height: 300px;
 width: 500px;
background: conic-gradient(from 45deg,white,black,red,yellow);
}


@keyframes changeBackgroundColor{
    from{
     background-color: white;
     border-radius: 0px;
     box-shadow: 5px 5px 50px white ;
     scale: 0.5;
    } /*kaha se ena hai value*/
    to{
        background-color: red;
           border-radius: 50px;
            box-shadow: 5px 5px 50px rgb(10, 200, 61) ;
            scale: 1;
    }    /* kaha dena hai value*/
 
}
#box3{
     height: 300px;
 width: 500px;
background-color: aliceblue;
animation: changeBackgroundColor 5s infinite forwards alternate;/*both forward backword infinite alternate*/
}
