*{
     margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
html,body{
height: 100%;
width: 100%;
}
body{
    background-color: black;
color: white;
         main{
            height: 100%;
            width: 100%;
            // background: linear-gradient(to right bottom,rgb(35, 34, 34),rgb(39, 38, 38));
background-color: black;
          padding: 2rem;
            overflow: auto;
                section{
                    height: 100%;
                    width: 360px;
                   
                    background-color: black;
                    border-radius: 1rem;
                    margin: auto;
                       
                       .all-reels{
                           height: 100%;
                           width: 100%;
                           overflow: auto;
                            scroll-snap-type: y mandatory;
                            scroll-behavior: smooth;
                              .reel{
                                height: 100%;
                                // height: 75vh;
                                // // height: 600px;
                                width: 100%;
                                background-color: aqua;
                             overflow: hidden;
                                position: relative;
                                border-radius: 1rem;
                                margin-bottom: 20px;
                                scroll-snap-align:center;
                                scroll-snap-stop: always;
                                   video{
                                    // display: block;
                                    height: 100%;
                                    width: 100%;
                                    object-fit: cover;
                                    
                                   }
                                    .bottom{
                                 padding: 30px 20px;
                                 background: linear-gradient(rgba(107, 105, 105, 0.005),rgb(54, 54, 54));
                                position: absolute;
                                color: white;
                                bottom: 0;
                                        width: 100%;
                                          .user{
                                            display: flex;
                                            align-items: center;
                                            gap: 1rem;
                                            margin-bottom: 20px;
                                              img{
                                                height: 30px;
                                                width: 30px;
                                                border-radius: 50%;
                                                object-fit: cover;
                                              }
                                              h4{
                                                font-size: 15px;
                                                font-weight: 500;
                                              
                                              }
                                              button{
                                                padding: 0.5rem 1.5rem;
                                                font-size: 0.6rem;
                                                border: 1px solid white;
                                                background-color: transparent;
                                                color: white;
                                                border-radius: 1rem;
                                              }
                                          }
                                          h3{
                                            font-weight: 500;
                                            font-size: 15px;
                                          }
                                    }

                                    .right{
                                        
                                        padding: 30px;
                                        width: 40px;
                                        position: absolute;
                                        right: 0;
                                        bottom: 10%;
                                        // transform: translate(100%);
                                        display: flex;
                                        flex-direction: column;
                                        gap: 18px;
                                       text-align: center;
                                      
                                         i{
                                            font-size:35px;
                                             font-weight: 500;
                                         }
                                         h4{
                                            cursor: pointer;
                                              .love{
                                                  color: red;
                                                }
                                         }
                                         h6{
                                            font-size:12px ;
                                            font-weight: 500;
                                         }
                                         div{
                                            display: flex;
                                            flex-direction: column;
                                            justify-content: center;
                                            align-items: center;
                                        }
                                    }
                              }
                       }
                       .all-reels::-webkit-scrollbar{
                        display: none;
                       }
                }
         } 
}