*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
    background-color: black;
   
}
:root{
    --x:400px;
    --y:400px;
}

#video-wrapper{
    height: 100%;
    width: 100%;
    position: fixed;
  inset: 0;
 
}
#video-wrapper video{
position: absolute;
    object-fit: cover;
 height: 100%;
    width: 100%;
   
}
#video-wrapper #box{
    position: absolute;
    inset: 0;
    background: radial-gradient(1100px at var(--x) var(--y),rgba(255, 255, 255, 0),rgba(0, 0, 0, 0.938));
    height: 100%;
    width: 100%;
}